.linkButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: hsl(212, 86%, 64%);
  border: none;
  padding: 0.9rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  margin: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  height: fit-content;
  cursor: pointer;
}

.linkButton:hover {
  background: #2980b9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.negative {
  background-color: #de4040;
  text-transform: none;
  padding: 0.8rem 1rem;
}

.negative:hover {
  background: #aa3131;
}

.secondary {
  border: 1px solid hsl(212, 86%, 64%);
  color: hsl(212, 86%, 64%);
  box-shadow: none;
  background-color: white;
  text-transform: none;
  padding: 0.6rem 0.8rem;
}

.secondary:hover {
  background: hsl(212, 86%, 64%);
  color: white;
}
