.sessionCardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-top: 3px solid hsl(212, 86%, 64%);
  border-radius: 4px;
  padding: 2rem;
  margin: 1rem;
  width: 50vh;
}

.sessionCardContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sessionCardHeader {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.sessionCardHeaderTitle {
  text-align: left;
}

.sessionCardHeaderDate {
  padding-left: 2rem;
  text-align: right;
}

.sessionMetaInformation {
  margin: 0 auto;
  line-height: 2;
  color: hsl(229, 6%, 66%);
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
