-r requirements.dev.txt # requirements for dev environment

cryptography==38.0.0
aiortc~=1.5.0
aiohttp~=3.8.3
pyee~=9.0.4
Pillow~=9.4.0
av~=10.0.0
argparse~=1.4.0
shortuuid~=1.0.11
opencv-python~=4.7.0.68
numpy~=1.24.1
dlib~=19.24.2

zmq~=0.0.0
pyzmq~=25.0.0
pika~=1.3.2
NamedAtomicLock~=1.1.3

pyts~=0.13.0
psutil~=5.9.6
