.textAreaContainer {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.textAreaField {
    resize: vertical;
    font-size: 1em;
    color: rgb(95, 95, 95);
    background-color: #f8f8f8;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}