.ConnectionTestPageWrapper button {
  background-color: hsl(212, 86%, 64%);
  border: 3px solid hsl(212, 86%, 64%);
  padding: 0.4rem 0.6em;
  text-align: center;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  margin: 0.3rem;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}

.ConnectionTestPageWrapper button.secondary {
  background-color: transparent;
  color: black;
}

.ConnectionTestPageWrapper button.secondary:hover {
  background-color: hsl(212, 86%, 64%);
  color: white;
}

.ConnectionTestPageWrapper button:not(.secondary):not(:disabled):hover {
  background-color: hsl(212, 79%, 69%);
  border-color: hsl(212, 86%, 64%);
}

.ConnectionTestPageWrapper button:disabled {
  background-color: hsl(212, 83%, 77%);
  border-color: hsl(212, 83%, 77%);
  cursor: auto;
}

video {
  max-width: 100vw;
}

.videoWrapper {
  position: relative;
  margin: 5px;
  max-width: 50vw;
}

.videoWrapper > p {
  margin: 5px;
}

.videoWrapper .fpsCounter {
  color: rgb(0, 255, 0);
  position: absolute;
  font-size: 14px;
  bottom: 8px;
  right: 8px;
}

.ownStreams {
  display: flex;
  justify-content: center;
}

.peerStreams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Connection state badge */
.connectionState {
  background-color: gold;
  border: 0;
  border-radius: 5px;
  margin: 0 5px;
  padding: 1px 5px;
}

.connectionState.NEW {
  background-color: greenyellow;
}

.connectionState.CONNECTING {
  background-color: lightblue;
}

.connectionState.CONNECTED {
  background-color: green;
  color: white;
}

.connectionState.CLOSED,
.connectionState.FAILED {
  background-color: red;
  color: white;
}

/* ApiTests Component */
.requestButtons {
  margin-bottom: 10px;
}

.basicTabs,
.requestButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.basicTabs button {
  margin: 3px;
}

.basicTabs .tabsTitle {
  padding-top: 8px;
  padding-right: 8px;
  font-weight: bold;
}

.inputBtnBox {
  display: flex;
  align-items: stretch;
  background-color: antiquewhite;
  padding: 2px;
  border-radius: 5px;
  margin: 2px 5px 2px 0;
}

.inputBtnBox > * {
  margin: 0.3rem 0 0.3rem 5px;
}

.inputBtnBox input[type="text"] {
  width: 80px;
}

.inputBtnBox input[type="checkbox"] {
  margin: 4px;
}

.inputBtnBox label {
  display: flex;
  align-items: center;
}

.apiWarning,
.apiSubsectionHeader {
  margin: 2px;
  border-bottom: 2px dashed goldenrod;
  display: inline-block;
}

.apiSubsectionHeader {
  font-weight: bold;
}

/* PrettyJson Component */
.prettyJson {
  background-color: beige;
  border: 3px solid rgb(192, 192, 172);
  border-radius: 5px;
  margin: 4px 8px;
}

.prettyJson pre {
  width: 100%;
  display: inline-block;
  text-align: left;
  white-space: pre-wrap;
}

/* ReplaceConnection Component */
.replaceConnectionWrapper {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.replaceConnectionWrapper span {
  margin: 0.4rem;
  font-weight: bold;
}

.replaceConnectionForm,
.replaceConnectionForm label {
  padding: 5px;
}

.replaceConnectionForm select,
.replaceConnectionForm input {
  padding: 4px;
  border-radius: 5px;
}

.replaceConnectionForm input {
  border: 1px solid black;
}
