.joinedParticipantModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinedParticipantModalData {
  border-radius: 6px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 1rem;
}

.joinedParticipantModalInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.participantPosition {
  margin: 0.5rem;
}

.joinedParticipantActions {
  display: flex;
  justify-content: space-evenly;
}

.joinedParticipantButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
