.inputField {
    background-color: #f8f8f8;
    font-size: 1em;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(95, 95, 95);
}

[type="checkbox"] {
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    margin-left: 1em;
}