.textAreaContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.textAreaField {
  resize: vertical;
  color: rgb(95, 95, 95);
  background-color: #f8f8f8;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea:invalid {
  border: 2px dashed rgb(255, 171, 171);
}
