.sessionFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessionFormCard {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 1px 3px 6px 1px rgba(0,0,0,0.2);
    background-color: white;
    min-width: 500px;
}

.sessionPlanningForm {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.separatorLine {
    border-style: dotted;
    width: 100%;
}

.sessionFormParticipants {
    display: flex;
    flex-direction: column;
}

.sessionFormButtons{
    padding: 3em;
}

.participantCheckboxes {
    display: flex;
    justify-content: space-around;
}

.timeInput {
    display: flex;
    justify-content: left;
}

.sessionFormCanvas {
    border: '1px solid black';
}