.sessionOverviewHeadline {
  margin-top: 2rem;
}

.sessionOverviewDescription {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-decoration: none;
}

.sessionOverviewContainer {
  display: flex;
}

.sessionOverviewCards {
  margin-left: 2rem;
  border-right: 6px solid hsl(212, 86%, 64%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sessionOverviewCreateNewSession {
  margin-bottom: 2rem;
}

h2 {
  font-weight: 800;
}
