.sessionOverviewHeadline {
  margin: 2rem 0rem 2rem 0rem;
}

.sessionOverviewDescription {
  margin: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

.sessionOverviewContainer {
  display: flex;
  margin: 3rem 2em;
}

.sessionOverviewCards {
  border-right: 6px solid hsl(229, 6%, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem 2rem 0rem;
}

.sessionOverviewCreateNewSession {
  margin-bottom: 2rem;
}

h2 {
  font-weight: 800;
}

h4 {
  font-weight: 400;
}
