.sessionOverviewHeadline {
  padding-top: 1rem;
  margin: 0;
}

.sessionOverviewDescription {
  margin-top: 1rem;
  text-decoration: none;
  margin-bottom: 3rem;
}

.sessionOverviewContainer {
  display: flex;
}

.sessionOverviewCards {
  margin-left: 2rem;
  border-right: 6px solid hsl(212, 86%, 64%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sessionOverviewCreateNewSession {
  margin-bottom: 2rem;
}
