.button {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: hsl(212, 86%, 64%);
    border: none;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    height: fit-content;
    margin: 0.8em;
}

.positive {
    background-color: #50ad64;
    font-size: 1em;
    text-transform: none;
    display: block;
    padding: 0.8em 1em;
}

.negative {
    background-color: #de4040;
    font-size: 1em;
    text-transform: none;
    display: block;
    padding: 0.6em 0.8em;
}

.secondary {
    box-shadow: none;
    border: #2196F3;
    color: #2196F3;
    font-size: 1em;
    text-transform: none;
    display: block;
    padding: 0.6em 0.8em;
    background-color: white;
}

.button:hover {
    background: #2980b9;
}

.positive:hover {
    background: #165b25;
}

.negative:hover {
    background: #aa3131;
}

.secondary:hover {
    background: #2196F3;
    color: white;
}