.btn {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: hsl(212, 86%, 64%);
    border: none;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-radius: 4px;
    margin: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn:hover {
    background: #2980b9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}