.watchingRoomHeader {
  background-color: hsl(212, 86%, 64%);
}

.watchingRoomHeader > h2 {
  font-weight: 400;
  font-size: xx-large;
  color: white;
  margin: 0;
  text-align: left;
  margin-left: 1rem;
}

.noExperimentOngoing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
