.watchingRoomHeader {
  background-color: hsl(212, 86%, 64%);
}

.watchingRoomHeader > h2 {
  font-weight: 400;
  font-size: xx-large;
  color: white;
  margin: 0;
  text-align: left;
  margin-left: 1rem;
}

.videoCanvas {
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: whitesmoke;
  display: inline-block;
}

.appliedFilters {
  margin-top: 1rem;
  border: 1px solid black;
}

.noExperimentOngoing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
