.iconButton {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: hsl(212, 86%, 64%);
    padding: 0.8rem 1rem;
    color: white;
    border-radius: 4px;
    margin: 0.6rem;
    cursor: pointer;
  }
  
  .iconButton:hover {
    background: #2980b9;
  }
  