.ConnectionTestPageWrapper button {
	background-color: hsl(212, 86%, 64%);
	border: 3px solid hsl(212, 86%, 64%);
	padding: .4rem .6em;
	text-align: center;
	font-size: 14px;
	color: white;
	border-radius: 4px;
	text-transform: uppercase;
	margin: .3rem;
	cursor: pointer;
	transition: color .3s, background-color .3s, border-color .3s;
}

.ConnectionTestPageWrapper .canvasWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ConnectionTestPageWrapper .canvasWrapper canvas {
	margin: 5px;
	border: 2px solid hsl(212, 86%, 64%);
	border-radius: 5px;
}

.ConnectionTestPageWrapper button.secondary {
	background-color: transparent;
	color: black;
}

.ConnectionTestPageWrapper button.secondary:hover {
	background-color: hsl(212, 86%, 64%);
	color: white;
}

.ConnectionTestPageWrapper button:not(.secondary):not(:disabled):hover {
	background-color: hsl(212, 79%, 69%);
	border-color: hsl(212, 86%, 64%);
}

.ConnectionTestPageWrapper button:disabled {
	background-color: hsl(212, 83%, 77%);
	border-color: hsl(212, 83%, 77%);
	cursor: auto;
}
