.joinedParticipantContainer {
  margin: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: aliceblue;
}

.participantSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}