.joinedParticipantContainer {
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 15px;
  background-color: aliceblue;
  width: fit-content;
}

.participantSummary {
  display: flex;
  text-align: left;
  align-items: center;
}
