.sessionPreviewContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-top: 3px solid hsl(212, 86%, 64%);
  border-radius: 4px;
  padding: 1.5rem;
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  max-height: 50vh;
  top: 0;
  height: fit-content;
}

.sessionPreviewHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sessionPreviewTitles {
  margin: 0;
}

.sessionPreviewInformation {
  line-height: 2;
  color: hsl(229, 6%, 66%);
  text-align: center;
  margin: 2rem;
  overflow: auto;
}

.sessionPreviewButtons {
  display: flex;
  justify-content: center;
}

.ongoing {
  background-color: rgb(255, 231, 231);
  border-top: 3px solid hsl(0, 100%, 18%);
}

.ongoingExperiment {
  margin-bottom: 1rem;
}

.ongoingExperiment > h2 {
  color: rgb(136, 0, 0);
}
.wrapper {
  width: auto;
  height: fit-content;
  border: 0.1rem solid hsl(229, 6%, 90%);
  text-align: left;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
