.sessionPreviewContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-top: 3px solid hsl(212, 86%, 64%);
  border-radius: 4px;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  max-height: 50vh;
  top: 0;
  height: fit-content;
}
.sessionPreviewHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sessionPreviewTitles {
  margin: 0;
}

.sessionPreviewInformation {
  line-height: 2;
  color: hsl(229, 6%, 66%);
  text-align: center;
  margin: 2rem;
  overflow: auto;
}

.sessionPreviewButtons {
  display: flex;
  align-items: center;
}
