.participantDataContainer {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.participantButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
