.sessionCardContainer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top: 3px solid hsl(212, 86%, 64%);
    border-radius: 0.5em;
    padding: 2em;
    margin: 1em;
    max-width: 30em;
}

.sessionCardContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sessionCardHeader {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.sessionCardHeaderTitle {
    text-align: left;
}

.sessionCardHeaderDate {
    padding-left: 2em;
}

.sessionMetaInformation {
    margin: 0 auto;
    line-height: 2;
    color: hsl(229, 6%, 66%);
    text-align: left;
}