.notesTabContainer {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.notes {
    overflow-y: scroll;
    height: 65vh;
}

.notesEntering {
    display: flex;
    align-items: center;
}

.notesEnteringContainer {
    /* justify-self: flex-end; */
    margin-top: auto;
}